:root {
    /* Pallet: https://lospec.com/palette-list/massillon-8 */
    /* --clist-massilon-8 : #cdd4a5, #cfa98a, #c7786f, #9a6278, 
                        #60556e, #3b405e, #2e2a4f, #211d38; */
    /* Pallet: https://lospec.com/palette-list/smooth-polished-gold */
    --clist-smoothpolishedgold: #b092a7, #4f4254, #2d2433, #ffffff, #fff8bc,
                                #e6b983, #cd894a, #754232, #361c1b, #000000;
    --cbrightest: #ffffff;
    --cbright: #fff8bc;
    --clhighlight: #e6b983;
    --cdark: #cd894a;
    --cdarker: #754232;
    --cdarkest: #361c1b;
    --chl: #b092a7;
    --clbg: #4f4254;
    --cdbg: #2d2433;
    --wbg: #000000;
}

body {
    background-color: var(--wbg);
    font-family: monospace;
    font-size: xx-large;
}

.calculatorcontainer {
    background-image: linear-gradient(120deg, var(--clbg), var(--cdbg));
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid;
    border-color: var(--clbg);
    border-radius: 10px;
}

.calcdisplay {
    width: 90%;
    margin: auto;
    padding: 10px;
    background-image: linear-gradient(120deg, var(--cdbg), var(--clbg));
    border: 2px solid;
    border-radius: 5px;
    border-color:  var(--cdbg) var(--chl) var(--chl) var(--cdbg) ;

    text-align: right;
    color: var(--ffffff);
}

.buttoncontainer {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}

.numberbutton {
    background-color: var(--clhighlight);
    border-color: var(--cdbg);
    font-family: monospace;
    font-size: xx-large;
}

#num0 {
    grid-column: 1/3;
}
.operatorbutton {
    background-color: var(--cdark);
    border-color: var(--cdbg);
    font-family: monospace;
    font-size: xx-large;
}